{% extends "admin_bsbase.html" %}
{% block csslink%} <link rel="icon" type="image/png" href="/static/signin/images/icons/manage_job.ico"/>	
<style>
  .cntfd {
      position: relative;
      max-width: 100%; /* Maximum width */
      margin: 0 auto; /* Center it */
    }
  
  .cntfd img {vertical-align: middle;}
  
  .cntfd .cntt {
    position: absolute;
    top: 15%;
    left: 7%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 60%;
    padding: 20px;
  }
</style>
{% endblock %}
{% block title %} Manage Job {% endblock %}

{% block content %}
<div class="cntfd">
  <img src="{{url_for('static', filename='/signin/images/icons/3d-rendering-luxury-business-meeting-working-room-executive-office.jpg')}}" alt="..." style="width:100%; height:500px; opacity:0.7;"/> 
  <div class="cntt">
      <h3 class="text-sm-left" style="font-size:40px; color:green; text-shadow: 2px 2px 5px grey; text-decoration-line: overline;
      text-decoration-color: red;"> Edit Company Details   </h3>
  </div>
</div>
<br>
<div class="card border-dark mb-3" style="border-radius:45px; border-color:green;max-width: 60rem; margin-left: 160px; margin-right: 30px;">
    <div class="card-header" style="border-radius:37px; border-color:red; max-width: 60rem;"><h4>Company Details</h4></div>
    <div class="card-body text-dark">
      <form action = "{{ url_for('editcomp_details', id = id)}}" method = "POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">Company Name </label>
          <input type="text" style="border-radius:45px; border-color:green;"  class="form-control" name="cname" placeholder="Edit Company Name" value = "{{ company_data[1] }}">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Location  </label>
          <input type="text" style="border-radius:45px; border-color:green;"  class="form-control" name="clocn" placeholder="Edit Company Location" value = "{{ company_data[2] }}">
        </div>

        <div class="form-group">
          <input style="border-radius:20px;width:100px;" type="submit" value = "Submit" class="btn btn-primary">
        </div>
          
        </form>
    </div>
  </div>

{% endblock %}