{% extends "bsbase.html" %}
{% block css1link%} 

<link rel="icon" type="image/png" href="/static/signin/images/icons/manage_job.ico"/> 
<style>
  .cntfd {
      position: relative;
      max-width: 100%; /* Maximum width */
      margin: 0 auto; /* Center it */
    }
  
  .cntfd img {vertical-align: middle;}
  
  .cntfd .cntt {
    position: absolute;
    top: 40%;
    left: 20%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 60%;
    padding: 20px;
  }
</style>

{% endblock %}
{% block title %} Jobs-JobPortal {% endblock %}>
{% block content %}
<!-- Search Jobs -->

<div class="cntfd">
  <img src="{{url_for('static', filename='/signin/images/icons/3d-rendering-luxury-business-meeting-working-room-executive-office.jpg')}}" alt="..." style="width:100%; height:500px; opacity:0.7;"/> 
  <div class="cntt">
      <form method = "POST">
          <div class="form-row">
            <div class="col" >
              <input type="text" class="form-control" style="border-radius: 19px; border-width: 2px;border-color:green; background:white;width:580px; margin-left: 40px;" name = "keyword" placeholder="Keywords (Eg - Job Title / Category / Company )">
            </div>
            <div class="col">
              <input type="text" class="form-control" style="border-radius: 19px; border-width: 2px;border-color:green; background:white;" name = "location" placeholder="Location">
            </div>
            <div class="col">
            <button type="submit" class="btn btn-success" style="border-radius: 19px; margin-right: 20px; width:100px;"> Search </button> 
            </div>
          </div>
        </form>
  </div>
</div>
<br><br>

{% for job in alljobs %}
<div class="card" style="border-radius:35px; border-color:green; margin: 5px 20px 5px;">
  <h5 style="border-radius:45px; border-color:red;" class="card-header" >{{ job[0] }}</h5>
  <div class="card-body">
    <p class="card-title">Category : {{ job[1] }}</p>
    <p class="card-text">Company : {{ job[2] }}</p>
    <p class="card-text">Location : {{ job[3] }}</p>
    <p class="card-text">Salary : {{ job[4] }}</p>
    <p class="card-text">Job Description : <br> {{ job[5] }}</p>
    <form action="{{ url_for('apply') }}" method = "POST">
      <input type="hidden" name='j_id' value = "{{ job[6] }}">
      <input style="border-radius:10px; width:100px;" type = "submit" id = "apply" value = "Apply" class = "btn btn-primary">
    </form>
  </div>
</div>
<br>
{% endfor %}
 <!-- All jobs -->
 <!--
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Job Title</th>
        <th scope="col">Category</th>
        <th scope="col">Company</th>
        <th scope="col">Location</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
        {% for job in alljobs %}
        <tr>
            <td>{{ job[0] }}</td>
            <td>{{ job[1] }}</td>
            <td>{{ job[2] }}</td>
            <td>{{ job[3] }}</td>
            <td>{{ job[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table> -->
  
{% endblock %}