{% extends "admin_bsbase.html" %}
{% block csslink%} <link rel="icon" type="image/png" href="/static/signin/images/icons/manage_job.ico"/>
<style>
  .cntfd {
      position: relative;
      max-width: 100%; /* Maximum width */
      margin: 0 auto; /* Center it */
    }
  
  .cntfd img {vertical-align: middle;}
  
  .cntfd .cntt {
    position: absolute;
    top: 15%;
    left: 7%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 80%;
    padding: 20px;
  }
</style>
{% endblock %}

{% block title %} Manage Job {% endblock %}

{% block content %}
<div class="cntfd">
  <img src="{{url_for('static', filename='/signin/images/icons/3d-rendering-luxury-business-meeting-working-room-executive-office.jpg')}}" alt="..." style="width:100%; height:500px; opacity:0.7;"/> 
  <div class="cntt">
    <span>
      <h3 class="text-sm-left" style="font-size:40px; color:green; text-shadow: 2px 2px 5px grey; text-decoration-line: overline;
      text-decoration-color: red;"> Add, Search and Edit Job   </h3>
<br>
  <div class="cntr">
    <a href="{{url_for('add_job')}}" > <button class="btn btn-outline btn btn-primary" style="border-radius: 19px; width:100px; margin-left:30px;"> Add Job </button> </a>
  </div>
  <br>
  <br>

<form method = "POST">
  <div class="form-row" style="margin-left:160px;">
    <div class="col" >
      <input type="text" class="form-control" style="border-radius: 19px; border-width: 2px;border-color:green; background:white;width:500px; margin-left: 80px;" name = "keyword" placeholder="Keywords (Eg - Job Title / Category / Company )">
    </div>
    <div class="col">
      <input type="text" class="form-control" style="border-radius: 19px; border-width: 2px;border-color:green; background:white;" name = "location" placeholder="Location">
    </div>
    <div class="col">
    <button type="submit"  class="btn btn-success" style="border-radius: 19px; margin-right: 10px; width:100px;"> Search </button> 
    </div>
  </div>
</form>
    </span>
  </div>
</div>
<br>



<br><br>

<div class="card text-bg-success mb-3" style="border-radius:40px;border-color:green;margin: 5px 20px 5px;">
  <div class="card-header">Search By Location</div>
  <div class="card-group">
    <div class="card">
      <img src="static\signin\images\icons\bangalore.png" class="card-img-top" alt="..." width="10" height="300"/>
      <div class="card-body">
        <h5 class="card-title">Bengaluru</h5>
        <p class="card-text">Here you will see list of all jobs posted by companies in Bangalore.</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('job_detail', frm="mainpge", id="lBENGALURU")}}" > <button class="btn btn-outline btn btn-success" style="border-radius: 19px; margin-left:355px;"> View Jobs </button> </a>
      </div>
    </div>
    <div class="card">
      <img src="static\signin\images\icons\mumbai.png" class="card-img-top" alt="..." width="10" height="300"/>
      <div class="card-body">
        <h5 class="card-title">Mumbai</h5>
        <p class="card-text">Here you will see list of all jobs posted by companies in Mumbai.</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('job_detail', frm="mainpge", id="lMumbai")}}" > <button class="btn btn-outline btn btn-success" style="border-radius: 19px; margin-left:355px;"> View Jobs </button> </a>
      </div>
    </div>
    <div class="card">
      <img src="static\signin\images\icons\delhi.png" class="card-img-top" alt="..." width="10" height="300"/>
      <div class="card-body">
        <h5 class="card-title">Delhi</h5>
        <p class="card-text">Here you will see list of all jobs posted by companies in Delhi.</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('job_detail', frm="mainpge", id="lDelhi")}}" > <button class="btn btn-outline btn btn-success" style="border-radius: 19px; margin-left:355px;"> View Jobs </button> </a>
      </div>
    </div>
  </div>
  <br>
  <a title="View All Locations" class="viewAll" href="{{url_for('viewmore', id="location")}}" style="margin-left:1310px;"> <u><b>  View All Locations </b></u> </a>
</div>

<br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="border-radius:40px;border-color:green;margin: 5px 20px 5px;">
      <div class="card-header">Search By Title</div>
      
      <div class = "row">
        <div class ="col-md-6">
          <a title="Intern" href="{{url_for('job_detail', frm="mainpge", id="tFrontend Developer")}}" style="margin-left:50px; color:#000000;"> <ul><u> Frontend Developer </u></ul> </a>    
          <a title="FTE" href="{{url_for('job_detail', frm="mainpge", id="tFull Stack Developer")}}" style="margin-left:50px; color:#000000;"> <ul><u> Full Stack Developer </u></ul> </a>
          <a title="executive" href="{{url_for('job_detail', frm="mainpge", id="tSoftware Tester")}}" style="margin-left:50px; color:#000000;"> <ul><u> Software Tester </u></ul></a>
          <a title="Intern" href="{{url_for('job_detail', frm="mainpge", id="tSoftware Engineer")}}" style="margin-left:50px; color:#000000;"> <ul><u> Software Engineer </u></ul></a>
        </div>
        <div class ="col-md-6">
          <a title="Intern" href="{{url_for('job_detail', frm="mainpge", id="tTester")}}" style="margin-left:50px; color:#000000;"> <ul><u> Tester </u></ul> </a>    
          <a title="FTE" href="{{url_for('job_detail', frm="mainpge", id="tBackend Developer")}}" style="margin-left:50px; color:#000000;"> <ul><u> Backend Developer </u></ul> </a>
          <a title="executive" href="{{url_for('job_detail', frm="mainpge", id="tSocial Media Manager")}}" style="margin-left:50px; color:#000000;"> <ul><u> Social Media Manager </u></ul></a>
          <a title="Intern" href="{{url_for('job_detail', frm="mainpge", id="tProduct Manager")}}" style="margin-left:50px; color:#000000;"> <ul><u> Product Manager </u></ul></a>
        </div>
      </div>
      <a title="View All Locations" class="viewAll" href="{{url_for('viewmore', id="title")}}" style="margin-left:570px;"> <u><b> View All Titles </b></u></a>
    
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="border-radius:40px;border-color:green; margin-right: 20px; margin-top: 5px;">
      <div class="card-header">Search By Category</div>
      <div class = "row">
        <div class ="col-md-6">
          <a title="Intern" href="{{url_for('job_detail', frm="mainpge", id="gManagerial")}}" style="margin-left:50px; color:#000000;"> <ul><u> Managerial </u></ul> </a>    
          <a title="FTE" href="{{url_for('job_detail', frm="mainpge", id="gOperational")}}" style="margin-left:50px; color:#000000;"> <ul><u> Operational  </u></ul> </a>
          <a title="executive" href="{{url_for('job_detail', frm="mainpge", id="gTechnical")}}" style="margin-left:50px; color:#000000;"> <ul><u> Technical </u></ul></a>
          <a title="Intern" href="{{url_for('job_detail', frm="mainpge", id="gProfessional")}}" style="margin-left:50px; color:#000000;"> <ul><u> Professional </u></ul></a>
        </div>
        <div class ="col-md-6">
          <a title="Intern" href="{{url_for('job_detail', frm="mainpge", id="gSupervisory")}}" style="margin-left:50px; color:#000000;"> <ul><u> Supervisory  </u></ul> </a>    
          <a title="FTE" href="{{url_for('job_detail', frm="mainpge", id="gMarketing")}}" style="margin-left:50px; color:#000000;"> <ul><u> Marketing </u></ul> </a>
          <a title="executive" href="{{url_for('job_detail', frm="mainpge", id="gCustomer Support")}}" style="margin-left:50px; color:#000000;"> <ul><u> Customer Support </u></ul></a>
          <a title="Intern" href="{{url_for('job_detail', frm="mainpge", id="gHuman Resource")}}" style="margin-left:50px; color:#000000;"> <ul><u> Human Resource </u></ul></a>
        </div>
      </div>
      <a title="View All Locations" class="viewAll" href="{{url_for('viewmore', id="category")}}" style="margin-left:550px;"> <u><b> View All Categories </b></u></a>
    </div>
  </div>

</div>

<br><br>
<div class="card text-bg-success mb-3" style="border-radius:40px;border-color:green; margin: 5px 20px 5px;">
  <div class="card-header">Search By Company</div>
  <div class="card-group">
    <div class="card">
      <img src="static\signin\images\icons\google.jpg" class="card-img-top" alt="..." width="10" height="200"/>
      <div class="card-body">
        <h5 class="card-title">Google</h5>
        <p class="card-text">Google is an American multinational technology company headquartered at Mountain View, California, United Statesthat focuses on artificial intelligence, search engine technology, online advertising, cloud computing, and many more.</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('job_detail', frm="mainpge", id = "cGoogle")}}" > <button class="btn btn-outline btn btn-success" style="border-radius: 19px; margin-left:337px;"> View Details </button> </a>
      </div>
    </div>
    <div class="card">
      <img src="static\signin\images\icons\salesforce.png" class="card-img-top" alt="..." width="10" height="200"/>
      <div class="card-body">
        <h5 class="card-title">Salesforce</h5>
        <p class="card-text">Salesforce, Inc. is an American cloud-based software company headquartered in San Francisco, California. It provides customer relationship management software and applications focused on sales, customer service, marketing automation,  and many more.</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('job_detail', frm="mainpge", id = "cSalesforce")}}" > <button class="btn btn-outline btn btn-success" style="border-radius: 19px; margin-left:337px;"> View Details </button> </a>
      </div>
    </div>
    <div class="card">
      <img src="static\signin\images\icons\microsoft.png" class="card-img-top" alt="..." width="10" height="200"/>
      <div class="card-body">
        <h5 class="card-title">Microsoft</h5>
        <p class="card-text">Microsoft is an American multinational technology corporation headquartered at the Microsoft Redmond campus located in Redmond, Washington, United States, which produces computer software, consumer electronics and related services.</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('job_detail', frm="mainpge", id = "cMicrosoft")}}" > <button class="btn btn-outline btn btn-success" style="border-radius: 19px; margin-left:337px;"> View Details </button> </a>
      </div>
    </div>
  </div>
  <br>
  <a title="View All Locations" class="viewAll" href="{{url_for('viewmore', id="company")}}" style="margin-left:1294px;"> <u><b> View All Companies </b></u></a>
</div>
{% endblock %}