{% extends "admin_bsbase.html" %}
{% block csslink%} <link rel="icon" type="image/png" href="/static/signin/images/icons/updatedtl.ico"/>{% endblock %}
{% block title %} Update Details {% endblock %}

{% block content %}

<br>
<div class="container-xl px-4 mt-4">
  <hr class="mt-0 mb-4">
  <div class="row">
      <div class="col-xl-12">
          <!-- Account details card-->
          <div style="border-radius:37px;border-color:green;" class="card mb-4">
              <div class="card-header">Account Details</div>
              <div class="card-body">
                  <form action = "{{ url_for('update_details', id = id)}}" method = "POST">

                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (First name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="exampleFormControlInput1">First Name </label>
                          <input type="text" style="border-radius:45px;border-color:green;" class="form-control" name="ufname" placeholder="Edit First Name" value = "{{ jobseeker_data[1] }}">
                        </div>
                        <!-- Form Group (Last Name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="exampleFormControlInput1">Last Name </label>
                          <input type="text" style="border-radius:45px;border-color:green;" class="form-control" name="ulname" placeholder="Edit Last Name" value = "{{ jobseeker_data[2] }}">
                        </div>
                      </div>

                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="exampleFormControlInput1">Phone Number </label>
                          <input type="text" style="border-radius:45px;border-color:green;" class="form-control" name="uphoneno" placeholder="Edit Phone No." value = "{{ jobseeker_data[3] }}">
                        </div>
                        <!-- Form Group (address)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="exampleFormControlInput1">Address</label>
                          <input type="text" style="border-radius:45px;border-color:green;" class="form-control" name="uaddress" placeholder="Edit Address" value = "{{ jobseeker_data[4] }}">
                        </div>
                      </div>

                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                      <!-- Form Group (Email)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="exampleFormControlInput1">Email</label>
                        <input type="text" style="border-radius:45px;border-color:green;" class="form-control" name="uemail" placeholder="Edit Email" value = "{{ jobseeker_data[5] }}">
                      </div>
                      <!-- Form Group (password)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="exampleFormControlInput1">Password</label>
                        <input type="text" style="border-radius:45px;border-color:green;" class="form-control" name="upasswrd" placeholder="Edit Password" value = "{{ jobseeker_data[6] }}">
                      </div>
                      </div>

                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (College)-->
                          <div class="col-md-6">
                            <label class="small mb-1" for="exampleFormControlInput1">College </label>
                            <input type="text" style="border-radius:45px;border-color:green;" class="form-control" name="college" placeholder="Edit College Name" value = "{{ profile_data[1] }}">
                          </div>
                          <!-- Form Group (Department)-->
                          <div class="col-md-6">
                            <label class="small mb-1" for="exampleFormControlInput1">Department </label>
                            <input type="text" style="border-radius:45px;border-color:green;" class="form-control" name="dept" placeholder="Edit Department Name" value = "{{ profile_data[2] }}">
                          </div>
                      </div>

                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (Education Details)-->
                          <div class="col-md-6">
                            <label class="small mb-1" for="exampleFormControlTextarea1">Education Details </label>
                            <textarea style="border-radius:45px;border-color:green;" class="form-control" name="education" rows="3" value = "{{ profile_data[3] }}"></textarea>
                          </div>
                          <!-- Form Group (Resume)-->
                          <div class="col-md-6">
                            <label class="small mb-1" for="resume">Upload Resume </label>
                            <input type="file" class="form-control-file" name="resume">
                          </div>
                      </div>

                      <!-- Save changes button-->
                      <div class="form-group">
                        <input style="border-radius:20px;width:100px;" type="submit" value = "Submit" class="btn btn-dark">
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<!--

<div class="card border-dark mb-3" style="max-width: 80rem; margin-left: 30px; margin-right: 30px;">
  <div class="card-header"><h4>User Details</h4></div>
  <div class="card-body text-dark">
    <form action = "{{ url_for('update_details', id = id)}}" method = "POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">College -</label>
        <input type="text" class="form-control" name="college" placeholder="Enter your College Name" value = "{{ profile_data[1] }}">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Department - </label>
        <input type="text" class="form-control" name="dept" placeholder="Enter your Department Name" value = "{{ profile_data[2] }}">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Education Details - </label>
        <textarea class="form-control" name="education" rows="3" value = "{{ profile_data[3] }}"></textarea>
      </div>
      <div class="form-group">
        <label for="resume">Upload Resume - </label>
        <input type="file" class="form-control-file" name="resume">
      </div>
      <div class="form-group">
        <input type="submit" value = "Submit" class="btn btn-dark">
      </div>
        
      </form>
  </div>
</div>
-->
{% endblock %}